* {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    height: 0px;
    width: 0px;
}

img {
    width: 100vw;
}

a {
    display: block;
    background-color: rgb(245, 226, 11);
    padding: 20px;
    text-align: center;
    font-weight: bolder;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

a:hover {
    background-color: rgb(239, 139, 7);
    color: white;
}